body 
{ 
    padding-top: 70px; 
}

.book-header 
{
   padding-top: 4px;
}

.book-panel
{
   margin-left: 15px; 
   margin-right: 15px;
}

.book-panel-title
{
    font-size: 21px !important;
}

.book-info-header 
{
   display: inline;
   margin-right: 5px;
}

.book-info-detail
{
    margin-bottom: 15px;
}

.sort-block 
{
   padding-left: 30px;
   margin-bottom: 20px;
}

.sort-lable
{
    font-size: 12pt;
    margin-right: 10px;
    font-weight:bold;
}

.book-info
{
    font-size: 12pt;
}
.author-list-name
{
    font-size: 16pt;
    display:inline;
}

.author-name-block
{
    width: 400px;
}

.author-name-title
{
    width: 120px;
}

.new-author-panel
{
    width: 450px;
}

.book-image
{
    width: 140px; 
    height: 180px;
}

.author-short-info
{
    margin: 4px;
    font-size: 9pt;
    padding: 4px;
    display: inline-block;
}

.short-autor-info-panel
{
    width: 400px;
}

.short-author-info-inner-block
{
    padding: 7px !important;
}

.authors-header
{
    margin-bottom: 5px;
    display:block
}

.image-upload-button
{
    margin-top: 10px;
    padding: 4px;
    height: 30px;
}

.edit-book-info
{
    width: 450px;
}

.edit-book-info-title
{
    width: 450px;
}

.edit-book-info-sm
{
    width: 225px;
}

.edit-book-info-header
{
    width: 115px;
}

.remove-author-button
{
    height: 10px;
    padding: 0 4px;
    color:white!important;
}

.edit-author-block
{
    height:30px;
}

.edit-author-name-block
{
    margin-top: 5px;
    display: inline-block;
}

.add-author-btn
{
    padding: 4px;
    height: 30px;
    display:inline-block;
}

.edit-authors-header
{
    display: inline-block;
}

.add-authors-list
{
    overflow-y: auto;
    max-height: 500px;
}

.book-save-button
{
    margin-left: 15px;
    width: 70px;

}

input.ng-invalid-unique-author.ng-dirty
{
    border: 1px solid red;
}

input.ng-invalid.ng-dirty
{
    border: 1px solid red;
}

.author-validation-message
{
    margin-top: 3px;
    display: block;
    color: red;
}



.book-validation-message
{
    margin-top: 3px;
    margin-bottom: 10px;
    display: block;
    color: red;
}

.author-unique-validation-message
{
    margin-top: 15px;
}

.book-validation-block
{
    min-height: 30px;
}

.author-validation-block
{
    min-height: 30px;
}

.author-unique-validation-block
{
    min-height: 35px;
}

.ngdialog-content{
    background: white!important;
}

div.ngdialog{
    overflow: hidden;
}

.author-select-item
{
    width: 95% !important;
}

.info-message-block{
    padding: 9px !important;
    margin-bottom: 12px !important;
}

.book-list-progress
{
    padding: 0;
    margin-top:9px;
} 

.author-list-progress
{
    padding: 0;
    margin-top:9px;
} 